NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c29saWQtcGhlYXNhbnQtNTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_gcn34pwgY1XHvFwh711c7AOyITS7fV35IHWffYFXwY

NEXT_PUBLIC_CLERK_SIGN_IN_URL=https://plebeuscord.vercel.app/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=https://plebeuscord.vercel.app/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=https://plebeuscord.vercel.app
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=https://plebeuscord.vercel.app



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

UPLOADTHING_SECRET=sk_live_75ce6ee7ece94f67fab58fcc1be4ebb2f0facbc43430a537e8585a24a510c3ea
UPLOADTHING_APP_ID=3btu1dagdu

LIVEKIT_API_KEY=APIKT2LCY8YwsFf
LIVEKIT_API_SECRET=velxfqYsbcvjTv0z6NBylJprQ3ueagOi99sRLppwYRfC
NEXT_PUBLIC_LIVEKIT_URL=wss://plebeuscord-nozx4zx2.livekit.cloud

NEXT_PUBLIC_SITE_URL=https://plebeuscord.vercel.app
